* body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: gainsboro;
}
#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header-img{
    height: 30px;
    margin-left: -100px;
    margin-top: 10px;
}
#nav-bar .nav-link{
    display: inline-block;
    padding: 40px 20px;
    font-size: 20px;
   
}
h1{
    text-align: center;
}
form{
    text-align: center;
    }
#email{
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: black;
}
#features{
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-top: 100px;
}
.box1{
    flex-basis: 10%;
    flex-grow: 0;
    flex-shrink: 1;
    margin-top: 20px;
    }
.box2{
    flex-basis: 90%;
    flex-grow: 1;
    flex-shrink: 0;
}
.img{
    width: 50px;

}
#how-it-works{
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-top: 20px;
}
.box3{
    flex-basis: 10%;
    flex-grow: 0;
    flex-shrink: 1;
    margin-top: 20px;
    }
.box4{
    flex-basis: 90%;
    flex-grow: 1;
    flex-shrink: 0;
}   
#pricing{
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-top: 20px;
}
.box5{
    flex-basis: 10%;
    flex-grow: 0;
    flex-shrink: 1;
    margin-top: 20px;
    }
.box6{
    flex-basis: 90%;
    flex-grow: 1;
    flex-shrink: 0;
}
h2{
    margin-bottom: -12px;
}
p{
    font-size: large;
}
#box{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    justify-content: center;
    
}
#box .box-item{
    padding: 20px;
    font-size: 20px;
    height: 250px;
    width: 220px;
    text-align: center;
    }
.box-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
footer{
    display: flex;
    justify-content: end;
    height: 50px;

    
    
}
footer ul li{
    display: inline-block;
    background-color: #ddd;
    flex-basis: 100%;
}

